# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precendence.
# Alumni members
# @kjdelisle @loay @ssh24

# Core team members from IBM
* @jannyHou @b-admike @virkt25 @dhmlau
